<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Devices :</h2>

      <p>Mise à jour : {{ lastUpdate | date: 'EEEE d MMMM y' | lowercase }}</p>

      <ul class="list-group">
        <app-device *ngFor="let device of devices" [name]='device.name' [status]="device.status"></app-device>
        <app-device name="Bureau" status="on"></app-device>
      </ul>
      <button (click)="onTurnLightOn()" class="btn btn-success" [disabled]="!isAuth">On all</button>
    </div>
  </div>
</div>