<nav class="nav">
  <ul class="nav justify-content-center">
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/auth">Authentification</a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/devices">Devices</a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/todo-list">Todo</a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a class="nav-link" routerLink="/users-list">Users</a>
    </li>
  </ul>
  <div class="navbar-right">
    <p>Vous êtes connecté depuis {{ secondes }} secondes</p>
  </div>
</nav>
<router-outlet></router-outlet>