<div class="row">
    <div class="col-xs-12">
        <a routerLink="/add-user" class="btn btn-warning">Add user</a>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let user of users">
                <h3>{{ user.firstname }} {{ user.lastname }}</h3>
                <p>{{user.email}}</p>
                <p>This person prefer : {{user.drinkPreference}}</p>
                <p *ngIf="user.hobbies && user.hobbies.length > 0">
                    this person has hobbies :
                    <span *ngFor="let hobby of user.hobbies">{{ hobby }} - </span>
                </p>
            </li>
        </ul>
    </div>
</div>

